<div class="jumbotron mt-4">
    <h1 class="display-4">Urbanismo tactico y mongodb</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos rem nam accusantium veritatis illo
        officia quod culpa. Consequatur sunt similique vel, odit cumque ut ullam voluptas doloribus accusamus doloremque
        expedita?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate corrupti placeat provident iure, accusantium
        facilis nam, nobis perferendis quisquam laborum doloribus consequuntur minus? Repellendus dolorem tenetur, quo
        ea aspernatur sapiente.</p>
    <a href="" class="btn btn-primary">BOTON FALTA PONER LINK</a>
</div>